engine-strict=true
save-exact=true
strict-peer-dependencies=true
minimum-release-age=1440
minimum-release-age-exclude[]=@solana/kit
minimum-release-age-exclude[]=typescript
minimum-release-age-exclude[]=vitest
minimum-release-age-exclude[]=@types/node
